doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    meta(name="viewport", content="initial-scale=1")
    title= title
    link(rel='stylesheet', href='/libs/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/libs/angular-hotkeys/build/hotkeys.min.css')
    link(rel='stylesheet', href='/libs/ngDialog/css/ngDialog.min.css')
    link(rel='stylesheet', href='/libs/ngDialog/css/ngDialog-theme-default.min.css')
    link(rel='stylesheet', href='/libs/ngDialog/css/ngDialog-custom-width.css')
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='htlApp')
    include ./menu.jade
    block content

    //- common frameworks
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
    script(src='/libs/showdown/compressed/Showdown.min.js')
    script(src='/libs/showdown/compressed/extensions/github.min.js')
    script(src='/libs/bootstrap3-typeahead/bootstrap3-typeahead.min.js')

    //- angular modules
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-route/angular-route.js')
    script(src='/libs/ngDialog/js/ngDialog.min.js')
    script(src='/libs/angular-hotkeys/build/hotkeys.min.js')
    script(src='/libs/angular-sanitize/angular-sanitize.min.js')
    script(src='/libs/angular-markdown-directive/markdown.js')
    script(src='/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput-angular.min.js')

    //- application modules
    script(src='/js/app.js')
    script(src='/js/appRoutes.js')
    script(src='/js/controllers/AuthenticationController.js')
    script(src='/js/controllers/TopicController.js')
    script(src='/js/controllers/SingleTopicController.js')
    script(src='/js/services/UserService.js')
    script(src='/js/services/TopicService.js')
