nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapse(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        span.fa.fa-check-square-o
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{active:isActive('/topics')}")
          a(href='#/topics') Topics
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='', data-toggle='dropdown', role='button', aria-expanded='false'): span.fa.fa-cog
            |  {{account.local.username || 'Settings'}}
          ul.dropdown-menu(role='menu')
            li(ng-show='!account'): a(href='#/login'): span.fa.fa-sign-in
              |  Login
            li(ng-show='!!account'): a(href='#/login', ng-click='logout()'): span.fa.fa-sign-out
              |  Logout
            li(ng-show='!account').divider
            li(ng-show='!account'): a(href='#/signup'): span.fa.fa-user-plus
              |  Signup
