@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  padding-top: 70px;
  font-family: "Lato", serif;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  padding-top: 2em;
}

.ngdialog .buttons button:not(:last-child) {
  margin-right: 5px;
}

.ngdialog.ngdialog-theme-default.ngdialog-wide .ngdialog-content {
  width: 800px;
  max-width: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-splitdropdown {
  padding-right: 1px !important;
}

.bootstrap-tagsinput {
  width: 100%;
}

.home {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  display: table;
  color: #EEEEEE;
  overflow: hidden;
}

.home .home-background {
  position: absolute;;
  left: -10px; right: -10px; top: -10px; bottom: -10px;
  width: calc(100% + 20px); height: calc(100% + 20px);
  z-index: -1;
  background: url(../img/background.jpg) no-repeat bottom center scroll;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.home .home-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.home .home-header {
  font-weight: 600;
  font-size: 40px;
}

.home .home-slogan {
  font-weight: 300;
  font-size: 18px;
}

@media (min-width: 768px) {
  .home .home-header { font-size: 100px; }

  .home .home-slogan { font-size: 26px; }
}

